* {
  padding: 0;
  margin: o;
}

.header {
  display: flex;
  gap: 500px;
  background-color: antiquewhite;
}
.shop-name {
  color: rgb(16, 16, 224);
}
.menu {
  font: bold;
  justify-content: left;
  background-color: antiquewhite;
  padding: 10px;
  color: rgb(241, 11, 11);
  cursor: pointer;
}

.title {
  text-align: center;
}

.boxes {
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-items: center;
}
.box {
  background-color: white;
  margin: 10px;
  width: 200px;
  padding: 5px;
}

.box .image-link {
  width: 100%;
}

.image-link img {
  width: 100%;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: antiquewhite;
  width: 160px;
  border-radius: 10px;
  margin: 10px;
}
img {
  width: 100%;
  /* height: 60%; */
}

.product {
  display: flex;
  background-color: aliceblue;
  width: 70%;
  margin: 0 auto;
  gap: 10px;
}
.product-description {
  padding: 20px;
}

.image-cont {
  padding: 20px;
  margin: 20px;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.black-circle,
.purple-circle,
.blue-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
}
.blue-circle {
  background-color: blue;
}

.black-circle {
  background-color: black;
}

.purple-circle {
  background-color: purple;
}

p {
  color: green;
  font-weight: bold;
}
button {
  background-color: green;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
  margin: 30px;
  color: white;
  cursor: pointer;
}
